h1, h2, h3, h4, h5, h6 {
  color: coral;
  font-family: sans-serif;
}

#scoreBoard {
  text-align: center;
}

table, th, td{
  border: .1em coral solid;
}
tr:nth-child(1){
  background-color: yellow;
}
tr:nth-child(2){
  background-color: black;
  color: white;
}

table>caption, thead>tr>th {
  color: teal;
  font-weight: bold;
}

ul>li {
  list-style: square;
}

.hyperLink:hover {
  text-decoration-line: none;
  color: gold;
}

blockquote {
  background-color: royalblue;
  color: coral;
  padding: 1em;
}

#teamRoster> li:first-child {
  background-image: url("https://upload.wikimedia.org/wikipedia/en/4/44/Denver_Broncos_logo.svg");
  /* opacity: .5; */
  background-size: contain;
  background-repeat: no-repeat;
  font-weight: bolder;
  background-color: rgba(255, 255, 255, 0.7);
  background-blend-mode: lighten;
}

#teamRoster >li:last-child {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/5c/Chicago_Bears_logo.svg");
  background-color: rgba(255, 255, 255, 0.7);
  background-blend-mode: lighten;
  font-weight: bolder;
  background-size: contain;
  background-repeat: no-repeat;
}

img {
  display: none;
}
form>ul>li{
  list-style: none;
}
ul>li>ol:first-child{
  font-weight: bolder;
}
